:root {
    --accent: var(--primary);
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    color: #000;
}

body {
    margin: 0;
    background: var(--primary);
    background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);
}

svg:not([fill=none]) {
    fill: currentColor;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
video {
    max-width: 100%;
}

main {
    width: 95%;
    max-width: 36rem;
    min-height: 100vh;
    margin: 2rem auto;
    font-size: 1.25rem;
    line-height: 1.45;
}

main>* {
    background: #fff;
    padding: 2rem;
    margin: 1.5rem 0;
    border-radius: .5rem;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.favicon {
    border-radius: 50%;
}

.header-social ul,
.badges ul {
    margin: 1rem 0 0;
    padding: 0;
}

.header-social li,
.badges li {
    display: inline-block;
    margin: 0 .15rem;
}

.header-social li:first-child,
.badges li:first-child {
    margin-left: 0;
}

.bio {
    margin-top: 1rem;
}

.items ul {
    margin: .5rem 0;
    padding-left: 1.25rem;
}

.items li {
    list-style-type: none;
}

.items li a {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: .5rem;
    margin: .75rem 0;
}

.items li a>* {
    display: inline-flex;
}

.items li .link {
    border-bottom: 3px dotted currentColor;
}

.items li a:hover {
    color: var(--accent);
}

.items li a:hover .link {
    border-bottom: 3px solid currentColor;
}

.featured ul,
.featured li {
    list-style-type: none;
    padding: 0;
}

.featured .featured-item {
    border: .25rem solid #e8e8e8;
    border-radius: .75rem;
    margin: 1.25rem 0;
    transition: transform .15s;
}

.featured .featured-item:hover {
    transform: scale(1.025);
    border-color: var(--accent);
    color: var(--accent);
}

.featured .featured-item img {
    border-radius: .75rem;
    object-fit: cover;
}

.featured .info {
    padding: 1rem;
}

.featured h3,
.featured p {
    padding: 0;
    margin: 0;
}

details:first-child>summary:not(.feed summary) {
    margin-top: 0;
}

details>summary {
    list-style: none;
    cursor: pointer;
    margin: 1.5rem 0 0;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>summary:hover {
    color: var(--accent);
}

summary::after {
    float: right;
    transform: scale(2);
    content: '+';
    margin-right: -1.5px;
    font-weight: bold;
}

details[open] summary:after {
    content: "–";
    margin-right: 0;
}

summary h2 {
    display: inline-block;
    margin: 0;
}

summary:hover .anchor {
    display: inline-block;
}

.anchor {
    display: none;
    font-size: 1.5em;
    margin-left: -.775em;
    font-weight: bold;
}

.mt-container {
    max-height: calc(100vh + 4rem);
    overflow-y: auto;
}

.mt-body {
    padding: 0;
    position: relative;
    margin-bottom: 0;
}

.mt-post {
    margin: 0 0 1rem;
    padding: 1rem 1.5rem;
}

.feed {
    overflow: hidden;
    padding: 0;
}

.feed summary {
    margin: 1.5rem 2rem;
}

footer {
    background: #fff;
    padding: 1.75rem;
    margin-top: 4rem;
    text-align: center;
}

article a,
footer a {
    text-decoration: underline;
}

.btn {
    background: var(--accent);
    color: #fff;
    padding: .25rem .45rem;
    margin-left: .65rem;
    border-radius: .25rem;
    font-weight: 500;
}

.btn:hover {
    opacity: .8;
}